body {
  background: linear-gradient(90deg, rgb(81, 0, 128) 0%, #800080 100%);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  color: #ffffff;
}

#fundo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: rgb(143, 15, 143);
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 0 10px 5px rgba(81, 0, 128, 0.3), 0 0 15px 10px rgba(215, 15, 255, 0.8);
}

button {
  width: 150px;
  padding: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color: rgb(5, 164, 238);
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 0 10px 5px rgba(110, 0, 110, 0.3), 0 0 15px 10px rgba(187, 15, 164, 0.8);
}

button:hover {
  background-color: rgb(3, 142, 223);
}

button.disabled {
  background-color: grey;
  color: darkgrey;
  cursor: not-allowed;
}

h1 {
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

div {
  margin-bottom: 10px;
}

label {
  margin-left: 10px;
  cursor: pointer;
}

input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  width: calc(100% - 22px);
  box-sizing: border-box;
}

#quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}

#perguntas div input[type="radio"] {
  margin-top: 10px;
  size: 10px;
}

#perguntas div {
  padding: 5px;
  border-radius: 5px;
}

#botaoAvancar-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

#botoesResultado {
  display: flex;
  justify-content: center;
  gap: 20px;
}

button#reiniciar, button#tentarNovamente {
  width: 100px;
  padding: 15px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color: rgb(5, 164, 238);
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button#reiniciar:hover, button#tentarNovamente:hover {
  background-color: rgb(3, 142, 223);
}

.correcta {
  color: white;
  background-color: green;
  border-radius: 5px;
}

.incorrecta {
  color: white;
  background-color: red;
  border-radius: 5px;
}
